VOYAGE_AI_API_SECRET=<VOYAGE_AI_API_SECRET>
COHERE_API_KEY=<COHERE_API_KEY>
GEMINI_API_KEY=<GEMINI_API_KEY>
OPEN_ROUTER_API_KEY=<OPEN_ROUTER_API_KEY>
JWT_SECRET_KEY=<JWT_SECRET_KEY>
ACCESS_TOKEN_EXPIRE_MINUTES=<MINUTES_INT>
REFRESH_TOKEN_EXPIRE_DAYS=<DAYS_INT>